<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Inventory Management System
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <mat-list>
        <ng-container *ngFor="let inventory of inventories">

            <button mat-button class="menu-button" >
              <span>{{inventory.inventoryName}}</span>
            </button>
            <!-- <mat-list-item>{{inventory.inventoryName}}</mat-list-item> -->
            <mat-list style="margin-left:20px;">
                <div *ngFor="let product of sortedProducts">
                    <mat-list-item *ngIf="inventory._id == product._inventoryId">{{ product.productName}}</mat-list-item>
                </div>
            </mat-list>
        </ng-container>
      </mat-list>
      <div>
        <input type="button" value="Call Function" (click)="getSortedProductsForSideNav()">
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
          Content goes here?
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <p>Users List:</p>
<div class="list-menu">
    <a href="#" class="list-menu-item" *ngFor="let user of users">
        <ul class="list-group">
            <li class="list-group-item">Username: <b>{{ user.username }}</b> | Email: <b>{{ user.email }}</b> | Password: <b>{{ user.password }}</b></li>
        </ul>
    </a>
</div>
<br/>

<p>Inventory List:</p>
<div class="list-menu">
    <a href="#" class="list-menu-item" *ngFor="let inventory of inventories">
        <ul class="list-group">
            <li class="list-group-item">Name: <b>{{ inventory.inventoryName }}</b> | Description: <b>{{ inventory.inventoryDesc }}</b></li>
        </ul>
    </a>
</div>
<br/>

<p>Product List:</p>
<div class="list-menu">
    <a href="#" class="list-menu-item" *ngFor="let product of products">
        <ul class="list-group">
            <li class="list-group-item">Name: <b>{{ product.productName }}</b> | Brand: <b>{{ product.productBrand }}</b>
                | Description: <b>{{ product.productDesc }}</b> | SizeUnit: <b>{{ product.productSizeUnit }}</b>
                | Size: <b>{{ product.productSize }}</b> | UniqueId: <b>{{ product.productUniqueId }}</b> | Favorite: <b>{{ product.productFavorite }}</b></li>
        </ul>
    </a>
</div>
<br/>

<p>Alert List:</p>
<div class="list-menu">
    <a href="#" class="list-menu-item" *ngFor="let alert of alerts">
        <ul class="list-group">
            <li class="list-group-item">Inventory Id: <b>{{ alert._inventoryId }}</b> | Product Id: <b>{{ alert._productId }}</b>
                | Low Quantity: <b>{{ alert.lowQuantity }}</b> | High Quantity: <b>{{ alert.highQuantity }}</b>
                | Low Quantity Percentage: <b>{{ alert.lowQuantityPercentage }}</b> | High Quantity Percentage: <b>{{ alert.highQuantityPercentage }}</b></li>
        </ul>
    </a>
</div>
<br/>

<button class="btn btn-primary btn-rounded-corners">Add Products</button> -->
